.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name {
  display: block;
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 3.25rem;
  font-weight: 400;
  color: var(--black);
  letter-spacing: -0.02em;
  line-height: 1.2;
  padding: 30px;
}

.underline-name{
  position: relative;
}
.underline-name::before{
    position: absolute;
    content: "";
    top: -1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2.75em;
    height: 35px;
    background-color: var(--green);
}

.title{
  font-family:  "Archivo", sans-serif;
    font-size: 2rem;
}

.social-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socail-content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 0.75rem;
}

.social-link {
  width: 36px;
  height: 36px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-link svg {
  width: 18px;
  height: 18px;
}